<div class="presentations">
  {% for presentation in site.presentations %}
    {% if presentation.title %}
      <section class="presentation {% cycle 'left', 'right' %}">
        
        <div class="presentation-content">
          <span class="feature-number">{{ forloop.index | prepend: '0' }}</span>
          <h2 class="presentation-title">
            {{ presentation.title }}
          </h2>

          <p class="presentation-description">
            {{ presentation.description }}
          </p>
        </div>

        <div class="presentation-media">
          <img 
            src="{{ presentation.image }}" 
            alt="{{ presentation.title }}"
            loading="lazy">
        </div>

      </section>
    {% endif %}
  {% endfor %}
</div>
