<div class="screenshots linked thumbnails caption-on-top">

    {% for screenshot in site.screenshots %}

    {% if screenshot.title %}
    <div class="screenshot">
        <a href="{{ screenshot.image }}" title="{{ screenshot.title }}">
					<img src="{{ screenshot.thumb }}" width="190" height="125" alt="{{ screenshot.description }}">
					<small>{{ screenshot.title }}</small>
		</a>
        <!--<div class="screenshotText">
            <h3>
                {{ screenshot.title }}
            </h3>
            <p>
                {{ screenshot.description }}
            </p>
        </div>-->
    </div>
    {% endif %}

    {% endfor %}

</div>
