<div class="screenshots">

    {% for screenshot in site.screenshots %}

    {% if screenshot.title %}
    <div class="screenshot">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ screenshot.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="screenshotText">
            <h3>
                {{ screenshot.title }}
            </h3>
            <p>
                {{ screenshot.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>
