<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/fallout-fission/quick_start">Quick Start</a></li>
            <li><a href="/fallout-fission/quest_mini-guide">Quests</a></li>
            <li><a href="/fallout-fission/holodisk_mini-guide">Holodisks</a></li>
            <li><a href="/fallout-fission/item_mini-guide">Items</a></li>
            <li><a href="/fallout-fission/npc_mini-guide">Critters</a></li>
            <li><a href="/fallout-fission/ai_mini-guide">Combat AI</a></li>
            <li><a href="/fallout-fission/script_mini-guide">Scripts</a></li>
            <li><a href="/fallout-fission/gvar_mini-guide">GVARs</a></li>
            <li><a href="/fallout-fission/art_mini-guide">Art</a></li>
            <li><a href="/fallout-fission/end_death_mini-guide">Death Endings</a></li>
            <li><a href="/fallout-fission/end_game_mini-guide">Endgame Slides</a></li>
        </ul>
    </nav>
</aside>
