<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/quests/">Quests</a></li>
            <li><a href="/items/">Items</a></li>
            <li><a href="/critters/">Critters</a></li>
            <li><a href="/script_mini-guide">Scripts</a></li>
            <li><a href="/gvar_mini-guide">GVARs</a></li>
            <li><a href="/holodisks/">Holodisks</a></li>
            <li><a href="/art-frms/">Art & FRMs</a></li>
            <li><a href="/death-endings/">Death Endings</a></li>
            <li><a href="/endgame-slides/">Endgame Slides</a></li>
            <li><a href="/combat-ai/">Combat AI</a></li>
        </ul>
    </nav>
</aside>
