<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/fallout-fission/quick_start"
                   class="{% if page.url contains 'quick_start' %}active{% endif %}">Quick Start</a></li>

            <li><a href="/fallout-fission/quest_mini-guide"
                   class="{% if page.url contains 'quest_mini-guide' %}active{% endif %}">Quests</a></li>

            <li><a href="/fallout-fission/holodisk_mini-guide"
                   class="{% if page.url contains 'holodisk_mini-guide' %}active{% endif %}">Holodisks</a></li>

            <li><a href="/fallout-fission/item_mini-guide"
                   class="{% if page.url contains 'item_mini-guide' %}active{% endif %}">Items</a></li>

            <li><a href="/fallout-fission/npc_mini-guide"
                   class="{% if page.url contains 'npc_mini-guide' %}active{% endif %}">Critters</a></li>

            <li><a href="/fallout-fission/global_scripts_mini-guide"
                   class="{% if page.url contains 'global_scripts_mini-guide' %}active{% endif %}">Global Scripts</a></li>

            <li><a href="/fallout-fission/AI_mini-guide"
                   class="{% if page.url contains 'AI_mini-guide' %}active{% endif %}">Combat AI</a></li>

            <li><a href="/fallout-fission/script_mini-guide"
                   class="{% if page.url contains 'script_mini-guide' %}active{% endif %}">Scripts</a></li>

            <li><a href="/fallout-fission/GVAR_mini-guide"
                   class="{% if page.url contains 'GVAR_mini-guide' %}active{% endif %}">GVARs</a></li>

            <li><a href="/fallout-fission/art_mini-guide"
                   class="{% if page.url contains 'art_mini-guide' %}active{% endif %}">Art</a></li>

            <li><a href="/fallout-fission/end_death_mini-guide"
                   class="{% if page.url contains 'end_death_mini-guide' %}active{% endif %}">Death Endings</a></li>

            <li><a href="/fallout-fission/end_game_mini-guide"
                   class="{% if page.url contains 'end_game_mini-guide' %}active{% endif %}">Endgame Slides</a></li>
        </ul>
    </nav>
</aside>
