<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
                <div class="container">
                    {% include header.html %}
                                        <div class="appInfo">

                        <div class="appNamePriceContainer">
                            <h1 class="appName">
                                {{ site.app_name }}
                            </h1>
                        </div>
                        <div class="appDescriptionContainer">
                            <p class ="appDescription type-text" title="Splir~1t^500ting^1000">
                                {{ site.app_description }}
                            </p>
                        </div>
                        <div class="downloadButtonsContainer">
                            <a href="https://github.com/cambragol/fission-ce/releases/tag/beta" class="download" id="download">
					<img src="/fallout-fission/assets/Fission_Mac_Icon.png" width="96" height="96" alt="" class="download-icon">
					<!--<img src="/static/images/new.png" width="64" height="64" alt="New!" class="new" />-->
					
					<strong class="package-version">Download FISSION&nbsp;beta</strong><br>
					<span class="package-specs">2026-02-22, 10.1&nbsp;MB</span><br>
					<small class="package-architectures">for OS&nbsp;X, Windows, Linux and others</small>
				</a>
                            
                           <!-- {% if site.playstore_link %}
                                <a class="playStoreLink" href="{{site.playstore_link}}"><img class="playStore" src="assets/playstore.png"></a>
                            {% endif %}
                            <a class="appStoreLink" href="{{site.appstore_link}}"><img class="appStore" src="assets/appstore.png"></a>-->
                        </div>
                    </div>
                    <div class="iphonePreview">

                        <div class="videoContainer hidden">
                            <video class="screenvideo" autoplay="autoplay" controls="controls">
                            </video>
                        </div>  
                        
                        <img class="iphoneScreen hidden" src="" alt="">

                        {% include screencontent.html %}

                    </div>
					{% include screenshots.html %}
                    {% include features2.html %}
                    {% include footer.html %}
                    {% include appstoreimages.html %}
                </div>
            </div>
        </div>
</body>
</html>
